* {
    margin: 0;
}

.container {
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.footer__block--first {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
.footer {
    position: relative;
    padding: 60px 0;
    width: 100vw;
    margin: 0 auto;
    background-image: url('/images/footer-mobile\ 1x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('/images/footer-mobile\ 2x.jpg');
        }
}

.footer__link {
    display: inline-block;
}

.nav {
    display: inline-block;
    width: 49px;
    margin-left: 81px;
}

.nav__list {
    padding: 0;
}

.nav__link {
    text-decoration: none;
    display: block;
    color: #000;
}

.nav__item {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.footer__form {
    width: 100%;
}

.footer__input {
    display: inline-block;
    width: 100%;
    margin-top: 12px;
    border-radius: 30px;
    border: 0.85px solid #ffe550;
    padding: 12px 0 12px 12px;

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: #505050;
    }
}

.footer__label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #2c2c2c;
}

.footer__button {
    margin-top: 20px;
    border-radius: 30px;
    border: 0.85px solid #7eb101;
    padding: 11px 22px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    background-color: #fff;
}




